body {
  background-color: rgb(103, 121, 224);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px
}

h1 {
  text-align: center;
  font-size: 38px
}

h2 {
  text-align: center;
  font-size: 50px
}

p {
  text-align: center;
}

div#container {
  text-align: center;
  position: center;
  border: white
}

section#city {
  padding-top: 10px;
}

select#city {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  outline: none;
  background-color:white;
  border: none;
  border-radius: 10px;
  color: rgb(94, 93, 93);
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(145, 145, 145);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(192, 188, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(170, 172, 255)
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

button {
  display: inline-block;
  border: none;
  outline: none;
  color: rgb(94, 93, 93);
  border-radius: 34px;
  position: relative;
  background-color: white;
  width: 90px;
  height: 50px;
  left: 4px;
  bottom: 4px;
  font-size: 18px;
  border-color: white;
}

button:active {
  background-color: white;
  opacity: 0.9;
  transform: translateY(1px);
}

div#power {
  padding-bottom: 20px
}

.low-usage {
  background-color: rgb(74, 183, 255);
  background-image:none !important;
  -webkit-transition: background-color 3000ms linear;
  -moz-transition: background-color 3000ms linear;
  -o-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation-direction: alternate;
  
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
  animation-iteration-count: 2;
}

.medium-usage {
  background-color: rgb(103, 121, 224);
  background-image:none !important;
  -webkit-transition: background-color 3000ms linear;
  -moz-transition: background-color 3000ms linear;
  -o-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation-direction: alternate;
  
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
  animation-iteration-count: 2;
}

.high-usage {
  background-color: rgb(189, 77, 77) !important;
  background-image:none !important;
-webkit-transition: background-color 5000ms linear;
-moz-transition: background-color 5000ms linear;
-o-transition: background-color 5000ms linear;
-ms-transition: background-color 5000ms linear;
transition: background-color 5000ms linear;
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
animation-direction: alternate;

  -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
animation-iteration-count: 2;
}