body {
  background-color: rgb(103, 121, 224);
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}
div#container {
  text-align: center;
  position: center;
  border: white
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(145, 145, 145);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(192, 188, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(170, 172, 255)
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

button {
  display: inline-block;
  color: white;
  border-radius: 34px;
  position: relative;
  background-color: transparent;
  width: 90px;
  height: 50px;
  left: 4px;
  bottom: 4px;
  font-size: 18px;
  border-color: white;
}