body {
  background-color: rgb(103, 121, 224);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 40px
}

h2 {
  text-align: center;
  font-size: 65px
}

p {
  text-align: center;
}

div#container {
  text-align: center;
  position: relative;
  border: white
}

section#controller {
  padding-top: 10px;
}

section#current_city {
  padding-top: 10px;
}

select#city {
  outline: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: rgb(94, 93, 93);
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

button {
  display: inline-block;
  border: solid 2px white;
  outline: none;
  color: white;
  border-radius: 34px;
  position: relative;
  background-color: transparent;
  width: 90px;
  height: 50px;
  left: 4px;
  bottom: 4px;
  font-size: 18px;
  border-color: white;
  margin-right: 10px;
}

button#turn-up {
  border-radius: 50%;
  width: 50px;
}

button#turn-down {
  border-radius: 50%;
  width: 50px;
}

button:active {
  transform: translateY(1px);
  background-color: rgba(0, 0, 0, 0.1);
}

div#power {
  padding-bottom: 20px
}

div#space {
  display: inline-block;
  width: 15px;
}

div#temp-box {
  background-image: none !important;
  transition: background-color 2000ms linear;
  animation-iteration-count: 2;
  border: solid 2px white;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  left: 50%;
  margin-bottom: 20px;
}

span#temp {
  font-size: 100px;
  line-height: 200%
}

.low-usage {
  background-color: rgb(74, 183, 255);
}

.medium-usage {
  background-color: rgb(103, 121, 224);
}

.high-usage {
  background-color: rgb(189, 77, 77);
}